.main-header{
    color: #fff;
    background-color: #2C3E50;
}
.section.jumbo{
    color: #fff;
    background-color: #1ABC9C;
}
.line{
    width: 170px;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: #fff;
}