/* Custom Color and Size */
:root{
    --bg-white: #fff;
    --bg-dark: #3A546D;
    --bg-darker: #2C3E50;
    --bg-accent: #1ABC9C;
}
.bg_accent{
    background-color: var(--bg-accent);
}
.bg_dark{
    background-color: var(--bg-dark);
}
.bg_darker{
    background-color: var(--bg-darker);
}
.bg_white{
    background-color: var(--bg-white);
}
.text_accent{
    color: var(--bg-accent);
}
.text_dark{
    color: var(--bg-darker);
}
.py-7{
    padding: 4rem 0;
}
.w_20{
    width: 20%;
}
.display-7{
    font-size: 2rem;
}
/* Components */
.line{
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: currentColor;
}
textarea{
    width: 100%;
}
/* Body */
body{
    min-width: 450px;
}