button.btn__white{
    color: #fff;
}
button.btn__green{
    color: #fff;
    background-color: #1ABC9C;
}
strong.str__green{
    color: #1ABC9C;
}
textarea{
    width: 100%;
}
.main-header{
    color: #fff;
    background-color: #2C3E50;
}
.section{
    padding: 4rem 0;
}
.section.jumbo{
    color: #fff;
    background-color: #1ABC9C;
}
.line{
    width: 170px;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: currentColor;
}
.section.about{
    color: #fff;
    background-color: #1ABC9C;
}
.section.footer-info{
    color: #fff;
    background-color: #3A546D;
}
.section.footer-copy{
    padding: 2rem;
    color: #fff;
    background-color: #2C3E50;
}